p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word; }

#header-wrapper {
  background: rgba(255, 255, 255, 0); }

#spy-nav-bottom {
  margin-top: 15vh;
  display: none; }

#wrapper {
  height: 100vh;
  background-color: #fff;
  background-image: url("../img-ikidukai/moya.jpg");
  z-index: -10;
  background-repeat: no-repeat;
  background-size: cover; }
  #wrapper p, #wrapper h1, #wrapper h2 {
    z-index: 10; }

.title-inner {
  justify-content: center;
  align-content: center;
  position: relative; }
  .title-inner .title {
    display: inline-block;
    margin: 10rem auto 2rem auto;
    color: #000;
    z-index: 10; }
    .title-inner .title p {
      padding-left: 2.5rem;
      font-size: 1.5rem; }
    .title-inner .title h1 {
      font-size: 4rem;
      font-weight: bold; }

footer {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  position: fixed;
  bottom: 0; }
  footer p {
    color: #000; }

@media only screen and (max-width: 600px) {
  .title-inner::after {
    bottom: -6rem;
    border-top: 3rem solid rgba(10, 11, 142, 0.7);
    border-left: 50vw solid rgba(10, 11, 142, 0.7);
    border-right: 50vw solid transparent;
    border-bottom: 3rem solid transparent; }
  .title-inner .title h1 {
    font-size: 3rem; }

  .intro-container {
    padding: 5rem 15px;
    margin: 6rem auto;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 4rem; }
    .intro-container .text-inner .message-br {
      display: block !important; }
    .intro-container .carousel {
      height: 30vh;
      grid-column: 1;
      grid-row: 1; }
      .intro-container .carousel .carousel-inner {
        height: 100%; }
        .intro-container .carousel .carousel-inner .intro-img {
          height: 100%; }
        .intro-container .carousel .carousel-inner h2 {
          padding-left: 0.5rem; }
        .intro-container .carousel .carousel-inner p {
          font-size: 1rem;
          letter-spacing: .8px; }
    .intro-container.img-right .carousel {
      grid-column: 1;
      grid-row: 1; }
    .intro-container.img-right::before {
      top: -6rem;
      border-top: 3rem solid transparent;
      border-left: 50vw solid rgba(10, 11, 142, 0.7);
      border-right: 50vw solid transparent;
      border-bottom: 3rem solid rgba(10, 11, 142, 0.7); }
    .intro-container.img-right::after {
      bottom: -6rem;
      border-top: 3rem solid rgba(10, 11, 142, 0.7);
      border-left: 50vw solid rgba(10, 11, 142, 0.7);
      border-right: 50vw solid transparent;
      border-bottom: 3rem solid transparent; }
    .intro-container.img-right .text-inner {
      grid-column: 1;
      grid-row: 2;
      padding: 0 0.7rem; }
    .intro-container.img-left::before {
      top: -6rem;
      border-top: 3rem solid transparent;
      border-left: 50vw solid transparent;
      border-right: 50vw solid rgba(156, 0, 0, 0.8);
      border-bottom: 3rem solid rgba(156, 0, 0, 0.8); }
    .intro-container.img-left::after {
      bottom: -6rem;
      border-top: 3rem solid rgba(156, 0, 0, 0.8);
      border-left: 50vw solid transparent;
      border-right: 50vw solid rgba(156, 0, 0, 0.8);
      border-bottom: 3rem solid transparent; }

  .iwake-link::before {
    top: -6rem;
    border-top: 3rem solid transparent;
    border-left: 50vw solid transparent;
    border-right: 50vw solid rgba(156, 0, 0, 0.8);
    border-bottom: 3rem solid rgba(156, 0, 0, 0.8); }
  .iwake-link h1 {
    font-size: 15vw; }
  .iwake-link p {
    font-size: 1.5rem; }
  .iwake-link .iwake-link-list {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem; }
    .iwake-link .iwake-link-list .no-sp {
      display: none; } }

/*# sourceMappingURL=ikidukai.css.map */
