
$mon-red: #c20000;
$iki-blue: #041e78;
$bg-white: rgba(255, 255, 255, 0.7);
$bg-url: '../img-ikidukai/';
$text-colour: #444;

/* 変数 */
$max-wid: calc(100vw - calc(100vw - 100%));
$text-right: calc(0% + calc(100vw - 100%));

@mixin bg-jpg($url){
  background-image: url($bg-url + $url + '.jpg');
}

@mixin bg-png($url){
  background-image: url($bg-url + $url + '.png');
}

* {
  background-color: transparent;
  z-index: 1;
}

body { // background-imageをspでも正常になるように固定

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: $max-wid;
    height: 100vh;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.index::before {
    @include bg-jpg('moya');
  }

  &.measure::before {
    @include bg-png('katsu_haikei_kari');
    background-size: 70%;
    background-position: top 0 left -10%;
  }

  &.detail::before {
    @include bg-png('yuka_haikei_kari');
    background-size: 70%;
    background-position: top 0 left -10%;
  }

  &.gallery::before {
    @include bg-png('hira_haikei_kari');
    background-size: 70%;
    background-position: top 0 right -10%;
  }

  &.guide::before {
    @include bg-png('hoshi_haikei_kari');
    background-size: 70%;
    background-position: top 0 right -10%;
  }
}

#header-wrapper {
  // background-color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  z-index: 999;
}

#modal {
  background-color: transparent;
}

/* グローバル設定 */
#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $max-wid;
}
.gimmick-inner { // z-indexのずれ対策
  position: relative;
  width: $max-wid;
  height: 100vh;

  #mushimegane {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    display: inline-block;
    height: 5rem;
    width: 5rem;

    img {
      height: 100%;
      width: 100%;

    }
  }
}

#info-outer {
  position: relative;
  width: $max-wid;
  margin-top: 20vh;
  overflow-x: visible;

  .sub-title-inner {
    position: absolute;
    width: 100vw;
    justify-items: center;

    .sub-title {
      width: 30%;
      filter: drop-shadow(0 0 0.3rem #fff);
    }
  }

  .info-inner {
    position: absolute;
    width: 70vw;
    height: max-content;
    grid-template-columns: 1fr;
    justify-items: center;
    top: 0;
    overflow-x: visible;
    margin-top: 15vh;

    .info-text {
      width: 70%;
      color: $text-colour;
      font-size: 1.1rem;
      font-weight: bold;
      text-shadow:
      1px 1px 5px #fff,
      -1px 1px 5px #fff,
      1px -1px 5px #fff,
      -1px -1px 5px #fff;

      &:last-child {
        margin-bottom: 10vh;
      }

      .topic {
        margin: 10vh 0;
        text-align: center;
        font-weight: bolder;
        font-size: 3rem;
      }

      &:first-child {
        .topic {
          margin-top: 15vh;
        }
      }
    }
  }
}

#mushi-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $max-wid;
  background-color: rgba(75, 75, 75, 0.45);

  #mushimo-outer {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
    background-color: #f8f8f8;
    border-radius: 1rem;
    padding: 2.5rem 2rem;

    & > i {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-size: 1.5rem;
      z-index: 10;
    }

    .caution {
      position: absolute;
      bottom: 2.5rem;
      right: 3rem;
      // transform: translateX(100%);
      // right: 50%;
      // transform: translateX(calc(100% + 3rem));
      font-size: 1.3rem;
      color: $mon-red;
      border: 1px $mon-red solid;
      padding: 2px 4px;

      &:hover {
        filter: brightness(200%);
      }
    }

    .mushimo-inner {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      margin-bottom: 0;
      height: 100%;

      .mushimo-items {
        margin-left: 3rem;

        li {
          a {
            color: #000;

            &:hover {
              opacity: .65;
            }
          }

          &.mushimo-topic > a:hover {
            // border-bottom: 1px #000 solid;
            color: #555;
            opacity: 0.8;
          }
        }

        .mushimo-title {
          margin-bottom: 0.5rem;

          img {
            height: 2rem;
          }
        }

        .mushimo-topic {
          font-size: 1.3rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
/* グローバル設定 */

.index {
  #header-wrapper {
    background-color: transparent;
  }

  #wrapper {
    height: 100vh;
  }

  .title-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: $max-wid;
    height: 100vh;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

    .title {
      position: relative;
      width: 70vw;
      height: 50vh;
      @include bg-png('ikidukai-logo-2');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 900;

      img {
        position:absolute;
        top: 2%;
        left: 8%;
        height: 20%;
      }
    }
  }

  .gimmick-inner {
    #ppl-inner {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      height: 60vh;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;

      .ppl {
        width: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &:hover {
          // opacity: .8;
        }

        img {
          height: 60vh;
          justify-self: center;
        }

        // &#katsu1 {
        //   @include bg-png('katsu1_mozaiku');
        // }
        //
        // &#hira1 {
        //   @include bg-png('hira1_mozaiku');
        // }
        //
        // &#yuka1 {
        //   @include bg-png('yuka1_mozaiku');
        //   // transform: rotateX(180deg);
        // }
        //
        // &#hoshi1 {
        //   @include bg-png('hoshi1_mozaiku');
        // }
      }
    }

    #mushimegane {
      // top: 13vh;
      top: 25vh;
      left: 18vw;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

@mixin info-right(){
  .sub-title-inner{
    right: 0;
  }
  .info-inner {
    right: $text-right;
  }
}

@mixin info-left(){
  .sub-title-inner{
    left: 0;
  }
  .info-inner {
    left: 0;
  }
}

.detail {
  @include info-right();
}

.measure {
  @include info-right();
}

.guide {
  @include info-left();
}

.gallery {
  @include info-left();
}

#info-outer {
  footer {
    position: absolute;
    right: 0;
  }
}

footer {
  background-color: transparent;
  margin-top: 0;
  z-index: 900;
  width: 100vw;

  p {
    color: #000;
  }
}

@media only screen and (max-width: 600px) {

  /* グローバル */
  body {

    &.detail::before {
      @include bg-png('kyonkoko-sp');
      background-size: 100%;
      background-position: bottom 20% left 0;
    }
  }

  .gimmick-inner{
  }

  #info-outer {

    .sub-title-inner{

      .sub-title {
        width: 50%;
      }
    }

    .info-inner {
      width: 80vw;
      margin-top: 10vh;

      .sub-title-inner {
        .sub-title {
          width: 50%;
          filter: drop-shadow(0 0 1rem #fff);
        }
      }

      .info-text {
        width: 95%;
        color: $text-colour;
        font-size: 1.1rem;
        font-weight: bold;
        text-shadow:
        1px 1px 5px #fff,
        -1px 1px 5px #fff,
        1px -1px 5px #fff,
        -1px -1px 5px #fff;

          .topic {
            font-size: 2.5rem;
            margin: 7vh 0;
          }

          &:first-child {
            .topic {
              margin-top: 10vh;
            }
          }
        }
      }
    }


  #mushi-modal {

    #mushimo-outer {
      border-radius: 1rem;
      padding: 1.5rem 1rem;
      width: 80%;
      height: max-content;
      // height: 60%;

      & > i {
        top: 1rem;
        // left: 1rem;
        right: 1rem;
      }

      .caution {
        top: 1rem;
        // right: 1rem;
        left: 1rem;
        transform: translate(0, 0);
        width: max-content;
        height: max-content;
        font-size: 1rem;
      }

      .mushimo-inner {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, max-content);
        // width: 50%;
        width: max-content;
        margin: 1.5rem auto 0;

        .mushimo-items {
          // margin-left: 0;
          margin-left: 1.8rem;

          li {
            // text-align: center;
            text-align: left;
            width: max-content;

            a {
              width: max-content;
            }
          }

          .mushimo-title {
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 0.5rem;

            img {
              height: 1.8rem;
            }
          }

          .mushimo-topic {
            // margin-left: 0;
            margin-left: 1rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
  /* グルーバルp */

  .index {
    .title-inner {
      .title {
        width: 100vw;
        height: 30vh;

        img {
          top: 2%;
          left: 9%;
        }
      }
    }

    .gimmick-inner {
      #ppl-inner{
        width: 85vw;
        height: 70vh;
        grid-template-columns: repeat(2, 1fr);

        .ppl{
          height: 100%;
          width: 100%;
          display: grid;
          justify-content: center;

          img {
            height: 35vh;
          }
        }
      }
    }
  }

  .detail, .measure {
    .info-text {
      margin-right: 1.5rem;
    }
  }

  .gallery, .guide {
    .info-text {
      margin-left: 1.5rem;
    }
  }
}
