
$mon-red: #c20000;
$iki-bule: #041e78;
$bg-url: '../img-ikidukai/';

@mixin bg-jpg($url){
  background-image: url($bg-url + $url + '.jpg');
}

@mixin bg-png($url){
  background-image: url($bg-url + $url + '.png');
}

* {
  background-color: transparent;
  z-index: 1;
}

body { // background-imageをspでも正常になるように固定

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    // @include bg-jpg('moya');
  }

  &.index::before {
    @include bg-jpg('moya');
  }
}

#header-wrapper {
  background-color: transparent;
  z-index: 999;
}

#modal {
  background-color: transparent;

  /* modalの色を青にするパターン */
//   color: $iki-bule;
//   ul {
//     li{
//       &.modal-link {
//         border-bottom: 1px solid $iki-bule;
//       }
//       a {
//         color: $iki-bule!important;
//       }
//     }
//   }
}

.index {

  .title-inner {
    position: absolute;
    // display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: max-content;
    align-content: center;

    .title {
      width: max-content;
      height: 100%;

      p {
        font-size: 2.5rem;
        margin-left: 5rem;
        margin-bottom: -3rem;
      }
    }
  }

  .gimmick-inner {
    #ppl-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      height: 60vh;
      grid-template-columns: repeat(4, 1fr);

      .ppl {
        width: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &:hover {
          opacity: .8;
        }

        &#zumin {
          @include bg-png('zumin');
        }

        &#berisa {
          @include bg-png('berisa');
        }

        &#kyonko {
          @include bg-png('kyonko');
          transform: rotateX(180deg);
        }

        &#techi {
          @include bg-png('techi');
        }
      }
    }
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 999;

  p {
    color: #000;
  }
}

@media only screen and (max-width: 600px) {

  .index {
    .title-inner {
      width: 100%;
      height: max-content;

      .title {
        width: 100%;
        height: max-content;

        img {
          width: 100%;
        }
      }
    }

    .gimmick-inner {
      #ppl-inner{
        width: 85vw;
        height: 70vh;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
