
$mon-red: #c20000;
$iki-bule: #041e78;
$bg-url: '../img-ikidukai/';

@mixin bg-img($url){
  background-image: url($bg-url + $url + '.jpg');
}

@mixin bg-png($url){
  background-image: url($bg-url + $url + '.png');
}

* {
  background-color: transparent;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

.hidden {
  display: none;
}

#header-wrapper {
  background: transparent;
  z-index: 999;
}

#spy-nav-bottom {
  // margin-top: 15vh;
  display: none;
}

#modal {
  background-color: transparent;

  /* modalの色を青にするパターン */
//   color: $iki-bule;
//   ul {
//     li{
//       &.modal-link {
//         border-bottom: 1px solid $iki-bule;
//       }
//       a {
//         color: $iki-bule!important;
//       }
//     }
//   }
}

#wrapper {
  position: relative;
  height: 100vh;
  background-color: transparent;

  &.index {
    @include bg-img('moya');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .title-anime {
      cursor: pointer;
      margin-top: 17rem;

      img {
        height: 30vh;
        width: 80vw;
      }
    }
  }

  p, h1, h2 {
    z-index: 10;
  }
}

#outline {

  .bg-kyonko {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 70vw;
    height: 80vh;
    @include bg-png('kyonkoko');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }

  .text-inner {
    position: absolute;
    top: 40vh;
    left: 55vw;
    width: 30vw;
  }
}

.title-inner {
  justify-content: center;
  align-content: center;
  position: relative;

  .title {
    display: inline-block;
    margin: 10rem auto 2rem auto;
    color: #000;
    z-index: 10;

    p {
      padding-left: 2.5rem;
      font-size: 1.5rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: bold;
    }
  }
}

#ppl-inner {

  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;

  #ppl {
    height: 40vh;
    width: 70vw;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);

    .item {
      width: 100%;
      height: 40vh;
      background-repeat: no-repeat;
      background-size: contain;


      & > a{
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;

        &:hover {
          filter: brightness(0.7);
        }

        &.zumin {
          @include bg-png('zumin');
        }
        &.berisa {
          @include bg-png('berisa');
        }
        &.techi {
          @include bg-png('techi');
        }
        &.kyonko {
          @include bg-png('kyonko');
        }
      }
    }
  }
}

footer {
  margin-top: 0;
  background-color: transparent;
  z-index: 10;
  position: fixed;
  bottom: 0;

  p {
    color: #000;
  }
}

@media only screen and (max-width: 600px) {
  #wrapper {

  }
}
