@charset "UTF-8";
/* 変数 */
* {
  background-color: transparent;
  z-index: 1; }

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - calc(100vw - 100%));
  height: 100vh;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
body.index::before {
  background-image: url("../img-ikidukai/pc-top-bg.png"); }
body.measure::before {
  background-image: url("../img-ikidukai/measure_bg_pc.png"); }
body.detail::before {
  background-image: url("../img-ikidukai/detail_bg_pc.png"); }
body.gallery::before {
  background-image: url("../img-ikidukai/gallery_bg_pc.png"); }
body.guide::before {
  background-image: url("../img-ikidukai/guide_bg_pc.png"); }

#header-wrapper {
  background-color: transparent;
  z-index: 999; }

#modal {
  background-color: transparent; }

/* グローバル設定 */
#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - calc(100vw - 100%)); }

.detail #wrapper, .guide #wrapper, .gallery #wrapper, .measure #wrapper {
  width: 0;
  height: 0; }
  .detail #wrapper .gimmick-inner, .guide #wrapper .gimmick-inner, .gallery #wrapper .gimmick-inner, .measure #wrapper .gimmick-inner {
    width: 0;
    height: 0; }

.gimmick-inner {
  position: relative;
  width: calc(100vw - calc(100vw - 100%));
  height: 100vh; }
  .gimmick-inner #mushimegane {
    position: absolute;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    top: 24.5vh;
    left: 6vw; }
    .gimmick-inner #mushimegane img {
      height: 100%;
      width: 100%; }
  .gimmick-inner #budge {
    position: absolute;
    display: inline-block;
    height: 6vw;
    width: 6vw;
    top: 38vh;
    left: 2.5vw; }
    .gimmick-inner #budge img {
      height: 100%;
      width: 100%; }

#info-outer {
  position: relative;
  width: calc(100vw - calc(100vw - 100%));
  margin-top: 50vh;
  overflow-x: visible; }
  #info-outer .sub-title-inner {
    width: 70vw;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    display: inline-block;
    position: absolute;
    filter: drop-shadow(0 0 10px #fff); }
  #info-outer .info-inner {
    position: absolute;
    width: 70vw;
    height: max-content;
    grid-template-columns: 1fr;
    justify-items: center;
    top: 0;
    overflow-x: visible;
    margin-top: 35vh; }
    #info-outer .info-inner .info-text {
      width: 50vw;
      color: #444;
      font-size: 1.1rem;
      font-weight: bold;
      text-shadow: 1px 1px 5px #fff, -1px 1px 5px #fff, 1px -1px 5px #fff, -1px -1px 5px #fff;
      overflow-x: visible; }
      #info-outer .info-inner .info-text .link:hover {
        text-decoration: underline !important; }
      #info-outer .info-inner .info-text:last-child {
        margin-bottom: 10vh; }
      #info-outer .info-inner .info-text .topic {
        margin-top: 15vh;
        margin-bottom: 10vh;
        text-align: center;
        font-weight: bolder;
        font-size: 3rem;
        width: 100%; }

#mushi-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - calc(100vw - 100%));
  background-color: rgba(75, 75, 75, 0.45); }
  #mushi-modal #mushimo-outer {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
    background-color: #f8f8f8;
    border-radius: 1rem;
    padding: 2.5rem 2rem; }
    #mushi-modal #mushimo-outer > i {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-size: 1.5rem;
      z-index: 10; }
    #mushi-modal #mushimo-outer .caution {
      position: absolute;
      bottom: 2.5rem;
      right: 3rem;
      font-size: 1.3rem;
      color: #c20000;
      border: 1px #c20000 solid;
      padding: 2px 4px; }
      #mushi-modal #mushimo-outer .caution:hover {
        filter: brightness(200%); }
    #mushi-modal #mushimo-outer .mushimo-inner {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      margin-bottom: 0;
      height: 100%; }
      #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items {
        margin-left: 3rem; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items li a {
          color: #000; }
          #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items li a:hover {
            opacity: .65; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items li.mushimo-topic > a:hover {
          color: #555;
          opacity: 0.8; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items .mushimo-title {
          margin-bottom: 0.5rem; }
          #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items .mushimo-title img {
            height: 2rem; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items .mushimo-topic {
          font-size: 1.3rem;
          margin-left: 1rem; }

/* グローバル設定 */
.index #header-wrapper {
  background-color: transparent; }
.index #wrapper {
  height: 100vh; }
.index .title-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - calc(100vw - 100%));
  height: 100vh;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img-ikidukai/title-moya-pc-tp2.png"); }
  .index .title-inner .title {
    position: relative;
    width: 70vw;
    height: 50vh;
    background-image: url("../img-ikidukai/ikidukai-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7vh;
    margin-left: 5vw;
    z-index: 900; }
@keyframes titleVanish {
  0% {
    opacity: 1; }
  100% {
    display: none;
    opacity: 0; } }
    .index .title-inner .title .vanish {
      animation: titleVanish 1s ease-out 0s; }
    .index .title-inner .title img {
      position: absolute;
      top: 2%;
      left: 8%;
      height: 20%; }
.index .gimmick-inner #ppl-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 60vh;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around; }
  .index .gimmick-inner #ppl-inner .ppl {
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    .index .gimmick-inner #ppl-inner .ppl img {
      height: 60vh;
      justify-self: center; }
.index .gimmick-inner #mushimegane {
  top: 24.5%;
  left: 6%; }
.index footer {
  position: fixed;
  bottom: 0;
  left: 0; }

.detail .sub-title-inner {
  left: 0; }
.detail .info-inner {
  left: 0; }
.detail #info-outer .sub-title-inner {
  background-image: url("../img-ikidukai/syosai_yoko.png"); }
.detail .gimmick-inner #mushimegane {
  left: 65vw;
  top: 20vh; }
.detail .gimmick-inner #budge {
  left: 88vw;
  top: 83vh; }

.measure .sub-title-inner {
  right: 0; }
.measure .info-inner {
  right: 0; }
.measure #info-outer .sub-title-inner {
  background-image: url("../img-ikidukai/taisaku_yoko.png"); }

.guide .sub-title-inner {
  left: 0; }
.guide .info-inner {
  left: 0; }
.guide #info-outer .sub-title-inner {
  background-image: url("../img-ikidukai/annai_yoko.png"); }
.guide #info-outer #access .map-img-inner {
  margin: 5vh auto;
  width: 40vw;
  height: 28vw;
  border-radius: 10px;
  border: #000 double 5px;
  overflow: hidden; }
  .guide #info-outer #access .map-img-inner .map-img {
    width: 100%;
    height: 100%;
    background-image: url("../img-ikidukai/chizu-kari.png");
    background-position: center;
    background-size: cover; }
.guide .gimmick-inner #mushimegane {
  left: 65vw;
  top: 88vh; }
.guide .gimmick-inner #budge {
  left: 90vw;
  top: 18vh; }

.gallery .sub-title-inner {
  right: 0; }
.gallery .info-inner {
  right: 0; }
.gallery #info-outer .sub-title-inner {
  background-image: url("../img-ikidukai/gallery_yoko.png"); }
.gallery #info-outer #sucket > div:first-of-type {
  margin-top: 10vh; }
.gallery #info-outer #sucket > div:nth-of-type(1) .sucket-img {
  background-image: url("../img-ikidukai/yuka-syokai.jpg"); }
.gallery #info-outer #sucket > div:nth-of-type(2) .sucket-img {
  background-image: url("../img-ikidukai/hoshino-syokai.jpg"); }
.gallery #info-outer #sucket > div:nth-of-type(3) .sucket-img {
  background-image: url("../img-ikidukai/akane-syokai.jpg"); }
.gallery #info-outer #sucket .sucket-item-inner {
  grid-template-rows: repeat(2, max-content);
  justify-items: center; }
  .gallery #info-outer #sucket .sucket-item-inner:not(:last-child) {
    margin-bottom: 13vh; }
  .gallery #info-outer #sucket .sucket-item-inner .sucket-img-inner {
    width: 30vw;
    height: 30vw;
    border: #000 double 5px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5vh; }
    .gallery #info-outer #sucket .sucket-item-inner .sucket-img-inner .sucket-img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
.gallery .gimmick-inner #mushimegane {
  left: 2.5vw;
  top: 80vh; }
.gallery .gimmick-inner #budge {
  left: 22.5vw;
  top: 75vh; }

#info-outer footer {
  position: absolute;
  right: 0; }

footer {
  background-color: transparent;
  margin-top: 0;
  z-index: 900;
  width: 100vw; }
  footer p {
    color: #000; }

@media only screen and (max-width: 600px) {
  /* グローバル */
  body.index::before {
    background-image: url("../img-ikidukai/sp-top-bg.png"); }
  body.measure::before {
    background-image: url("../img-ikidukai/measure_bg_sp.png"); }
  body.detail::before {
    background-image: url("../img-ikidukai/detail_bg_sp.png"); }
  body.guide::before {
    background-image: url("../img-ikidukai/guide_bg_sp.png"); }
  body.gallery::before {
    background-image: url("../img-ikidukai/gallery_bg_sp.png"); }

  .gimmick-inner #mushimegane {
    width: 12vw;
    height: 12vw; }
  .gimmick-inner #budge {
    width: 12vw;
    height: 12vw; }

  #info-outer {
    margin-top: 30vh; }
    #info-outer .sub-title-inner {
      width: 90vw;
      height: 10vh; }
    #info-outer .info-inner {
      width: 90vw;
      margin-top: 15vh; }
      #info-outer .info-inner .sub-title-inner .sub-title {
        width: 50%;
        filter: drop-shadow(0 0 1rem #fff); }
      #info-outer .info-inner .info-text {
        width: 75vw;
        color: #444;
        font-size: 1.1rem;
        font-weight: bold; }
        #info-outer .info-inner .info-text .topic {
          font-size: 2.5rem;
          margin: 7vh 0;
          text-shadow: 2px 2px 8px #fff, -2px 2px 8px #fff, 2px -2px 8px #fff, -2px -2px 8px #ffff; }
        #info-outer .info-inner .info-text p {
          text-shadow: 2px 2px 8px #fff, -2px 2px 8px #fff, 2px -2px 8px #fff, -2px -2px 8px #fff, 4px 4px 8px #fff, -4px 4px 8px #fff, 4px -4px 8px #fff, -4px -4px 8px #fff; }
        #info-outer .info-inner .info-text:first-child .topic {
          margin-top: 10vh; }

  #mushi-modal #mushimo-outer {
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    width: max-content;
    height: max-content; }
    #mushi-modal #mushimo-outer > i {
      top: 1rem;
      right: 1rem; }
    #mushi-modal #mushimo-outer .caution {
      top: 1rem;
      left: 1rem;
      transform: translate(0, 0);
      width: max-content;
      height: max-content;
      font-size: 1rem; }
    #mushi-modal #mushimo-outer .mushimo-inner {
      grid-template-columns: 100%;
      grid-template-rows: repeat(5, max-content);
      width: max-content;
      margin: 5vh 3vw 2vh 3vw; }
      #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items {
        margin-left: 11vw; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items li {
          text-align: left;
          width: max-content; }
          #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items li a {
            width: max-content; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items .mushimo-title {
          font-weight: bold;
          margin-bottom: 0;
          margin-top: 0.5rem; }
          #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items .mushimo-title img {
            height: 1.8rem; }
        #mushi-modal #mushimo-outer .mushimo-inner .mushimo-items .mushimo-topic {
          margin-left: 1rem;
          font-size: 1rem; }

  /* グルーバルp */
  .index .title-inner {
    background-image: url("../img-ikidukai/title-moya-sp-w2.png"); }
    .index .title-inner .title {
      width: 100vw;
      height: 30vh; }
      .index .title-inner .title img {
        top: 2%;
        left: 9%; }
  .index .gimmick-inner #ppl-inner {
    width: 85vw;
    height: 70vh;
    grid-template-columns: repeat(2, 1fr); }
    .index .gimmick-inner #ppl-inner .ppl {
      height: 100%;
      width: 100%;
      display: grid;
      justify-content: center; }
      .index .gimmick-inner #ppl-inner .ppl img {
        height: 35vh; }
  .index .gimmick-inner #mushimegane {
    left: 94vw;
    top: 94vh;
    transform: translate(-100%, -100%);
    height: 4rem;
    width: 4rem; }

  .gallery .info-text, .measure .info-text {
    margin-right: -3vw; }
  .gallery .gimmick-inner #mushimegane, .measure .gimmick-inner #mushimegane {
    left: 3.5vw;
    top: 75vh; }
  .gallery .gimmick-inner #budge, .measure .gimmick-inner #budge {
    left: 8vw;
    top: 85vh; }

  .detail .gimmick-inner .hovamoya-inner, .guide .gimmick-inner .hovamoya-inner {
    transform: translateX(-100%); }
  .detail .gimmick-inner #mushimegane, .guide .gimmick-inner #mushimegane {
    left: 96.5vw;
    top: 75vh; }
  .detail .gimmick-inner #budge, .guide .gimmick-inner #budge {
    left: 92vw;
    top: 85vh; }

  .gallery #info-outer .info-inner #sucket .sucket-item-inner .sucket-img-inner {
    width: 60vw;
    height: 60vw; }
    .gallery #info-outer .info-inner #sucket .sucket-item-inner .sucket-img-inner .sucket-img {
      width: 100%;
      height: 100%; }

  .guide #info-outer .info-inner #access .map-img-inner {
    margin: 5vh auto;
    width: 75vw;
    height: 50vw; } }

/*# sourceMappingURL=ikidukai.css.map */
