
/* 汎用カラーコード */
$mon-red: #c20000;
$mon-yellow: #fbedbb;
$mon-beige: #f0e6ce;
$spy-red: rgb(194, 0, 0);
/* 変数 */
$max-wid: calc(100% - calc(100% - 100vw));

.p-ac {
  border-bottom: solid $mon-red 1vh;
}

.border-inherit {
  border-bottom: 10px solid $mon-beige;
}

#header-wrapper, #spy-nav-bottom, .spy-nav {
  background-color: $mon-beige;
}

#header-nav {
  top: 0;

  #mon-icon {
    margin-top: -0.5vh;
  }

  .tori-url {
    width: 60%;
    grid-template-columns: repeat(4, 5vh);
    justify-content: space-evenly;
    align-content: end;
    margin-right: 4vh;

    .tori {
      height: 6vh;
      width: 6vh;
      margin-bottom: 1vh;

      img {
        height: 6vh;
        width: 6vh;
      }
    }
  }
}

.has-border {
  top: .5vh;
}

.spy-nav {
  li {
    border-right: 1px solid $mon-red;
    border-left: 1px solid $mon-red;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    a {
      &:hover {
        text-shadow:
          2px 0 2.5px $mon-red,
          -2px 0 2.5px $mon-red,
          0 -2px 2.5px $mon-red,
          0 2px 2.5px $mon-red;
        color: $mon-beige!important;
      }
    }
  }
}

#spy-nav-top {
  position: relative;
  height: 70%;
  background-color: transparent;

  ul {
    position: absolute;
    bottom: 1.2vh;
    margin: 0;

    li {
      width: calc(calc(100vw * 0.6) / 4);
    }
  }

  .nav-item {
    justify-content: space-evenly;
    align-content: space-evenly;

    a {
      padding: 0;
    }
  }
}

.carousel-inner {
  position: relative;

  #header-text-inner {
    z-index: 40;
    float: left;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(calc(-50% + calc(70vw / 24)), -50%);
    height: 80vh;
    width: 70vw;
    justify-content: center;
    align-content: center;

    h1 {
      color: rgba(233, 233, 233, 0.8);
      font-size: calc(70vw / 6);
      margin-bottom: 0;
    }
  }
}

.works-list {
  grid-row-gap: 2rem;
}

.works-item {
  width: 85%;
  height: 60vh;

  .works-title {
    margin-top: 1.5rem;

    p {
      margin-bottom: .5rem;
    }
  }

  &:hover .works-bg {
    opacity: .8;
    transform: scale(1.05);
    transition: all .2s ease-out;
  }

  .works-bg-inner {
    width: 100%;
    height: 75%;
    border-radius: 5px;
    overflow: hidden;

    .works-bg {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all .2s ease-out;
    }

    #iwake {
      background-image: url("../img/haru-back.jpg");
    }

    #ikidukai {
      background-image: url("../img/ikidukai-cast.jpg");
    }

    #notyet {
      background-image: url("../img/notyet.jpg");
    }
  }
}


footer{
  background-color: #ccc;

  p {
    color: white;
  }
}

@media only screen and (max-width: 600px) {

  #header-nav {
    top: 0;

    #mon-icon, #open {
      margin-top: -0.5vh;
    }
  }

  #spy-nav-top, .tori-url {
    display: none;
  }

  .carousel-inner {
    #header-text-inner {
      top: 25.5vh;
      left: 50vw;
      transform: translate(calc(-50% + calc(70vw / 24)), -50%);
      height: 35vh;
      width: 70vw;
    }
  }

  #modal {
    background-color: $mon-beige;
    border-bottom: 10px solid $mon-red;
  }

  .works-item {
    height: 55vh;
  }
}
