
/* 汎用カラーコード */
$mon-red: #c20000;
$mon-yellow: #fbedbb;
$footer: #d7b214;
// $footer: #696969;

* {
  font-family: 'Sawarabi Mincho', 'TsukuBRdGothic-Regular','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
}

body {
  background-color: #cccccc;
}

h1, h2, h3, h4, h5, h6, p, li {
  word-wrap: normal;
}

.disable {
  pointer-events: none;
}

.hidden {
  display: none!important;
}

.opa {
  opacity: 0.7;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none!important;
}

.a-style  {
  text-decoration: none!important;
  color: inherit!important;
}

.a-style:hover {
  color: inherit!important;
}

.grid {
  display: grid;
}

.mon-color {
  color: rgb(194, 0, 0)!important;
}

.p-ac {
  position: absolute;
}

.pc-header-r {

  ul {
    text-align: right;
  }
}

.has-border {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 > span {
  color: white;
}

#header-wrapper {
  height: 12vh;
  width: 100vw;
  background-color: $mon-yellow;
}

#header-nav {
  height: 10vh;
  padding: 0;
  grid-template-columns: max-content 60%;
  justify-content: space-between;

  #mon-icon, .tori-url {
    height: 10vh;
  }

  #mon-icon {
    padding: 0;
    align-self: center;

    img {
      height: 100%;
    }
  }

  .pc-header-r {
    align-self: end;
    justify-self: end;
  }

  .fas {
    color: $mon-red;
    display: none;
  }

  .tori-url {
    margin-right: 3rem;
    margin-bottom: -1.5rem;

    .tori {
      height: 0;
      width: 0;

      img {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: 1.7rem;
      }
    }
  }
}

.header-img {
  height: 78vh;
  width: 100vw;
  margin-top: 12vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header1 {
  background-image: url('../img/toriharu-head.jpg');
}

#header2 {
  background-image: url('../img/harutori-mei.jpg');
}

#header3 {
  background-image: url('../img/haru-semi.jpg');
}

#header4 {
  background-image: url('../img/tori-surprise.jpg');
}

.carousel-caption h3 {
  color: rgba(213, 213, 213, 0.91);
}

.spy-target > h1 {
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-shadow:
     #c20000 1px 1px 0px,
     #c20000 -1px 1px 0px,
     #c20000 1px -1px 0px,
     #c20000 -1px -1px 0px;
  border-bottom: 1px solid #c20000;
}

.spy-nav {
  z-index: 10;
  background-color: $mon-yellow;
  width: 100%;

  & > ul {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;

    li {
      margin: 0;
    }
  }

  a {
    font-size: 1.5rem;
    width: min-content;
    align-self: center;
    justify-self: center;

    &:hover {
      font-weight: bold;
    }
  }
}

#spy-nav-top {
  display: none;
}

#spy-nav-bottom {
  height: 10vh;

  & > ul {
    height: 8vh;
  }
}

#about {
  margin-top: 25vh;
}

.works-list {
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

#about-bg > img {
  height: 60vh;
}

.message-inner {
  margin-top: 4rem;
}

.message-inner > h2 {
  margin-bottom: 2rem;
}

.deck {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  grid-row-gap: 2rem;
}

.pro-card {
  width: 90%;
  height: 55vh;
  z-index: -10;
  /* border: 1px solid lightgray; */
  border-radius: 5px;
}

.pro-card.dark{
  filter: brightness(0.7);
}

.card-img {
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tori {
  background-image: url('../img/tori-suna.jpg');
}

#haru {
  background-image: url('../img/haru-bussa.jpg');
}

#katsu {
  background-image: url('../img/katsu-ra.jpg');
}

#saya {
  background-image: url('../img/saya-pink.jpg');
}

#hira {
  background-image: url('../img/hira-ero.jpg');
}

#same {
  background-image: url('../img/same-real.jpg');
}

.pro-card p {
  /* font-size: 0.8rem; */
  font-weight: lighter;
}

.pro-card h3 {
  font-size: 1rem;
  font-weight: bold;
}

#contact {

  .mail {
    font-size: 1.5rem;
    margin-left: 9vw;
  }

  .sns-link {
    margin-top: 3rem;
    grid-row-gap: 2rem;

    .sns-item {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;

      p {
        margin-bottom: 0;
        font-size: 2rem;
      }

      i {
        font-size: 3.5rem;
        color: #3c3c3c;
      }

      .sns-img {
        height: 6rem;
        width: 6rem;

        &.moto {
          height: 6.5rem;
          width: 6.5rem;
        }
      }
    }
  }
}

footer {
  background-color: $footer;
  width: 100vw;
  height: 10vh;
  margin-top: 8rem;
  justify-content: center;
  align-content: center;

  p {
    color: white;
    margin: 0;
  }
}


@media only screen and (max-width: 600px) {
  .container-title {
    font-size: 4rem!important;
  }

  #header-wrapper {
    height: 13vh;

    #header-nav {
      height: 100%;

      #open {
        display: block;
        font-size: 2.5rem;
        margin-right: 0.8rem;
        height: 2.5rem;
        width: 2.5rem;
        align-self: center;
      }

      .tori-url {
        display: none;
      }

      img {
        margin-left: -3rem;
        width: 5rem;
        height: 5rem;
      }
    }
  }


  .header-img {
    height: 35vh;
    width: 100vw;
    margin-top: 12.991vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #modal {
    position: fixed;
    top: 12.991vh;
    left: 0;
    z-index: 50;
    width: 100vw;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    // font-size: 2rem;
    grid-template-columns: 1fr;
    color: $mon-red;
    background-color: $mon-yellow;

    ul {
      // margin-bottom: 0;
      // margin-right: 0;
      margin: 0 auto;
      width: 85%;

      li {
        // @include clearfix;
        grid-template-columns: 1fr 1fr;
        align-content: center;

        &.modal-link {
          border-bottom: 1px $mon-red solid;
          justify-content: space-between;
          margin: 1rem auto;
        }

        &.tori-url {
          grid-template-columns: repeat(4, max-content);
          justify-content: space-around;

          a {
            margin-left: 0;

            img {
              width: 2.5rem;
              height: 2.5rem;

              // &.moto {
              //   height: 3rem;
              //   width: 3rem;
              // }
            }
          }
        }

        a {
          padding: 0;
          margin-left: 1rem;
          color: $mon-red!important;
          font-size: 2.5rem;
        }

        .li-btn {
          justify-self: end;
          align-self: center;
          margin-right: 1rem;
          font-size: 1rem;

          .minus {
            display: none;
          }
        }

        .modal-link-contents {
          grid-row: 2; grid-column: 2;
          display: none;

          li {
            margin: .6rem auto;

            .modal-child-link {
              font-size: 1.3rem;
              text-decoration: none;
            }
          }
        }
      }
    }

    i {
      font-size: 2.5rem;
      margin: 1rem auto;
      padding: 0.5rem;
    }
  }

  .spy-nav {
    display: none!important;
  }

  #about {
    margin-top: 0;
  }

  #about-bg {
    img {
      height: 30vh;
    }
  }

  .works-list {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  .deck {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  #contact {

    .mail {
      margin-left: 5vw;
      // margin: 0 auto;
      // display: inline-block;
    }

    .sns-link {
      .sns-item {
        &:last-child {
          p {
            font-size: 1rem;
          }
        }

        p {
          margin-bottom: 0;
          font-size: 1.5rem;
        }

        i {
          font-size: 2rem;
          color: #3c3c3c;
        }

        .sns-img {
          height: 3.5rem;
          width: 3.5rem;

          &.moto {
            height: 3.5rem;
            width: 3.5rem;
          }
        }
      }
    }
  }

  footer {
    margin-top: 5rem;
  }
}
